{% extends "AppBazar/padre.html" %} {% load static %} {% block container %}

<section>
    <h2 class="display-4 fw-bolder text-center p-3"> Agregar Producto al stock</h2>
    <article class="row form-px">

        <img src="https://irp-cdn.multiscreensite.com/29ca558b/MOBILE/jpg/516295-bazar-londres-articulos-de-venta-2.w1024.jpg">

        <form action="" method="POST" class="col col-sm-12 col-lg-6 form-rg" enctype="multipart/form-data">{% csrf_token %}

            <div class="form-list">
                {{ form.as_p}}
            </div>

            {% if miForm.errors %}
            <p class="text-danger fw-bolder">Por favor ingrese datos validos.</p>
            {% endif %}

            <button type="submit" class="btn btn-primary mt-3">Agregar articulo de bazar</button>

        </form>

    </article>
</section>



{% endblock %}