{% extends "AppBazar/padre.html" %}

{% load static %}

{% block container %}

<section>
    <h2 class="display-4 fw-bolder text-center p-3"> Agregar Producto al stock</h2>
    <article class="row form-px">

        <img src="https://i.pinimg.com/originals/30/12/a7/3012a7063fb4706d78cf5b7bc45c1364.jpg">

        <form action="" method="POST" class="col col-sm-12 col-lg-6 form-rg ">{% csrf_token %}

            <div class="form-list">
                {{ miFormulario.as_p}}
            </div>

            {% if miForm.errors %}
            <p class="text-danger fw-bolder">Por favor ingrese datos validos.</p>
            {% endif %}

            <button type="submit" class="btn btn-primary mt-3">Agregar articulo de bazar</button>

        </form>

    </article>
</section>



{% endblock %}